files:
  "/tmp/set_env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      DB_USERNAME="$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_USERNAME)"
      DB_PASSWORD="$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_PASSWORD)"
      DB_HOST="$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_HOSTNAME)"
      DB_NAME="$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_DB_NAME)"

      export DATABASE_URL="postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}"
      echo "DATABASE_URL=${DATABASE_URL}" >> /opt/elasticbeanstalk/deployment/env.list

commands:
  00-set-env:
    command: /tmp/set_env.sh
