files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_app_release.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/leader_only ]; then
        echo "Running Migrations"
        container_id=`docker ps -q --no-trunc --filter label="com.amazonaws.ecs.container-name=" | head -n 1`
        docker inspect $container_id
        docker exec $container_id /entrypoint.sh npx prisma migrate deploy
      fi
container_commands:
  01_touch_the_leader:
    command: |
      #!/usr/bin/env bash
      touch /tmp/leader_only
    leader_only: true
